* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu li {
    margin-right: 15px;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.3s;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ .burger span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

input[type="checkbox"]:checked ~ .burger span:nth-child(2) {
    opacity: 0;
}

input[type="checkbox"]:checked ~ .burger span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.menu {
    display: flex;
}

input[type="checkbox"]:checked ~ .menu {
    display: flex;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #333;
        top: 60px;
        right: 0;
        width: 100%;
    }

    .menu li {
        margin: 0;
        text-align: center;
        padding: 15px;
    }

    .burger {
        display: block;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    width: calc(33% - 20px);
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

.card h2 {
    font-size: 1.2em;
    margin: 0;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center
}

address a {
    color: #ffa500;
    text-decoration: none
}

@media (max-width: 1200px) {
    .card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}

