* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    line-height: 1.6
}

header {
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px
}

.logo {
    width: 100px;
    height: auto
}

.php-image {
    width: 500px
}

.navigation {
    position: sticky;
    top: 0;
    background-color: #333;
    z-index: 100
}

.navigation ul {
    display: flex;
    gap: 20px
}

.navigation a {
    color: white;
    text-decoration: none
}

.navigation a:hover {
    color: #ffa500
}

.content-wrapper {
    display: flex;
    gap: 20px;
    padding: 20px
}

main {
    flex: 3;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    min-height: 150vh
}

aside {
    position: sticky;
    top: 20px;
    height: fit-content;
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%)
}

.float-left {
    float: left;
    margin-right: 15px
}

.float-right {
    float: right;
    margin-left: 15px
}

.services-container {
    display: flex;
    gap: 20px
}

.service-box {
    width: 45%;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%)
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px
}

.card {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    text-align: center
}

.card img {
    max-width: 100%;
    height: auto
}

footer {
    position: relative;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center
}

footer a {
    color: #ffa500
}

.fixed-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border-radius: 8px
}

.absolute-elem {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(25% - 15px);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e14a09
}
